.item-detail-swiper-section .swiper-button-prev,
.item-detail-swiper-section .swiper-button-next,
.item-detail-swiper-section .swiper-button-disabled {
  height: 100% !important;
  width: 15% !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
}

.item-detail-swiper-section .swiper-pagination {
  top: 22.6875rem !important;
  left: 0;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  /* gap: auto; */
  padding: 0 0.875rem;
  z-index: 1;
  bottom: auto !important;
}

/* individual bullet as progress bar segment */
.item-detail-swiper-section .custom-bullet {
  display: block;
  flex: 1 !important;
  height: 0.125rem !important;
  border-radius: 0.1875rem !important;
  background-color: #ababab;
  transition: #ababab 0.3s ease;
  opacity: 1 !important;
}

/* active bullet (highlight) */
.item-detail-swiper-section .custom-bullet-active {
  background-color: white !important;
}
