@import "tailwindcss";

@font-face {
  font-family: Pretendard;
  font-display: block;
  src: url("../assets/font/PretendardVariable.woff2") format("woff2");
}

@theme {
  /* Main color */

  /* Sub color */

  /* Neutral color */

  /* 그레이 계열 */
  --color-black: #17171b;
  --color-gray10: #3e3e3e;
  --color-gray09: #575757;
  --color-gray08: #757575;
  --color-gray07: #939393;
  --color-gray06: #adadad;
  --color-gray05: #c4c4c4;
  --color-gray04: #d3d3d3;
  --color-gray03: #e5e5e4;
  --color-gray02: #f1f1f1;
  --color-gray01: #f8f8f9;
  --color-white: #ffffff;

  /* Fonts */
  --font-pretendard: "Pretendard", sans-serif;
}

@layer components {
  body {
    @apply flex justify-center bg-gray-100 text-black box-border font-pretendard;
  }

  *:focus {
    outline: none;
  }

  .headline1 {
    @apply text-[1.75rem] leading-[155%] font-bold tracking-[-0.001em];
  }

  .headline2 {
    @apply text-[1.5rem] leading-[155%] font-bold tracking-[-0.001em];
  }

  .headline3 {
    @apply text-[1.5rem] leading-[155%] font-semibold tracking-[-0.001em];
  }

  .subhead-b {
    @apply text-[1.125rem] leading-[150%] font-bold tracking-[-0.001em];
  }

  .subhead-m {
    @apply text-[1.125rem] leading-[150%] font-medium tracking-[-0.001em];
  }

  .body1-b {
    @apply text-[1rem] leading-[150%] font-bold tracking-[-0.001em];
  }

  .body1-m {
    @apply text-[1rem] leading-[150%] font-medium tracking-[-0.001em];
  }

  .body2-b {
    @apply text-[0.875rem] leading-[150%] font-bold tracking-[-0.001em];
  }

  .body2-m {
    @apply text-[0.875rem] leading-[150%] font-medium tracking-[-0.001em];
  }

  .body2-r {
    @apply text-[0.875rem] leading-[150%] font-normal tracking-[-0.001em];
  }

  .caption-b {
    @apply text-[0.75rem] leading-[140%] font-bold tracking-[-0.001em];
  }

  .caption-m {
    @apply text-[0.75rem] leading-[140%] font-medium tracking-[-0.001em];
  }

  @keyframes flash {
    0% {
      background-color: var(--color-neutral-300);
      box-shadow:
        32px 0 var(--color-neutral-300),
        -32px 0 #fff;
    }
    50% {
      background-color: #fff;
      box-shadow:
        32px 0 var(--color-neutral-300),
        -32px 0 var(--color-neutral-300);
    }
    100% {
      background-color: var(--color-neutral-300);
      box-shadow:
        32px 0 #fff,
        -32px 0 var(--color-neutral-300);
    }
  }
}
